.dashboard-table-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dashboard-table-title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

.dashboard-table-title {
    font-size: 20px;
    font-weight: 500;
}

.dashboard-table-big-separation {
    width: 100%;
    border-top: 2px solid #000000;
    display: flex;
}

.dashboard-table-separation {
    width: 100%;
}

.dashboard-table-task-table {
    width: 100%;
    border-collapse: collapse;
}
  
.dashboard-table-task-table td, th {
    border-bottom: 1px solid black;
    padding: 8px;
}

.dashboard-table-task-table-head-left {
    text-align: left;
}

.dashboard-table-task-table-head-center {
    text-align: center;
}

.dashboard-table-task-table-head-actions {
    width: 110px;
    text-align: center;
}

.dashboard-table-row {
    font-size: 14px;
    color: #312D2A;
}

.dashboard-table-text-column {
    text-align: left;
}

.dashboard-table-num-column {
    text-align: center;
    width: 100px;
}

.dashboard-table-actions-column {
    width: 110px;
}

.dashboard-table-title-column {
    width: 200px;
}

.dashboard-table-description-column {
    min-width: 200px;
}

.dashboard-table-responsible-column {
    min-width: 120px;
}

.dashboard-table-actions-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.dashboard-table-action-next-button {
    width: 45px;
    height: 24px;
    border-radius: 8px;
    padding-bottom: 2px;
    background-color: #F2F2F2;
    border: 1px solid #000000;
}

.dashboard-table-action-trash-button {
    padding-top: 3px;
    width: 45px;
    height: 24px;
    border-radius: 8px;
    background-color: #d63a24;
    border: 1px solid #000000;
}

.dashboard-table-empty {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
}

.dashboard-table-empty-text {
    font-size: 14px;
    color: #312D2A;
}

.dashboard-table-border-inline {
    border-inline: 1px solid #000000;
}